[submodule "connect-four.py"]
	path = connect-four.py
	url = https://github.com/Bloumbs/connect-four.py.git
[submodule "checkers.py"]
	path = checkers.py
	url = https://github.com/Bloumbs/checkers.py.git
